{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
body %}
<nav class="navbar bg-light border">
  <div class="container-fluid d-flex">
    <a class="navbar-brand ms-3 me-auto" href="/">
      <img
        src="/static/pencil-square.svg"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      {{blogname}}
    </a>
    <a class="nav-link me-4" href="/settings">Settings</a>
    <a class="btn btn-light btn-outline-dark me-3" href="/logout" role="button"
      >Log out</a
    >
  </div>
</nav>
<div class="row">
  <div class="container text-center">
    <h3 class="mt-4">Update About</h3>
  </div>
  <div class="error-message fs-5 mt-3 text-center text-danger">
    {{error_message}}
  </div>
  <div>
    <form
      class="mx-auto container mt-1 fs-5"
      action="/updateabout"
      method="post"
    >
      <div class="form-floating mb-3">
        <h5 for="updateabout" class="form-label">About info</h5>
        <textarea
          class="form-control"
          id="updateabout"
          name="updateabout"
          style="height: 100px"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="updatemedia" class="form-label">Update media</label>
        <input
          autocomplete="off"
          type="text"
          class="form-control"
          id="updatemedia"
          name="updatemedia"
        />
      </div>
      <div class="mb-3">
        <label for="updatemedialink" class="form-label"
          >Update media link</label
        >
        <input
          autocomplete="off"
          type="text"
          class="form-control"
          id="updatemedialink"
          name="updatemedialink"
        />
      </div>
      <button type="submit" class="btn btn-outline-dark">Update</button>
    </form>
  </div>
</div>
{% endblock %}
